<div>
  <h1 class="text-xl font-bold">プライバシーポリシー</h1>

  <br>

  <h2 class="font-bold">ユーザーから取得する情報</h2>
  <p>当サービスは、ユーザーから以下の情報を取得します。</p>

  <ul class="list-disc">
    <li>Googleアカウントのユーザー名</li>
    <li>Gメールアドレス</li>
    <li>Cookie(クッキー)を用いて生成された識別情報</li>
  </ul>

  <br>

  <h2 class="font-bold">ユーザーの情報を利用する目的</h2>
  <p>当方は、ユーザーから取得した情報を、以下の目的のために利用します。</p>
  <ul class="list-disc">
    <li>当サービスに関する登録の受付、ユーザーの本人確認、認証のため</li>
    <li>ユーザーの当サービスの利用履歴を管理するため</li>
    <li>ユーザーからのお問い合わせに対応するため</li>
    <li>当サービスの変更、提供中止、終了をご連絡するため</li>
  </ul class="list-disc">

  <br>

  <h2 class="font-bold">第三者提供</h2>
  <p>当方は、ユーザーから取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめユーザーの同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>

  <br>

  <h2 class="font-bold">プライバシーポリシーの変更</h2>
  <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>

  <br>

  <h2 class="font-bold">免責事項</h2>
  <p>利用上の不具合・不都合に対して可能な限りサポートを行っておりますが、ユーザーが当サービスを利用して生じた損害に関して、開発元は責任を負わないものとします。</p>

  <br>

  <h2 class="font-bold">お問い合わせ</h2>
  <p><a href="https://forms.gle/oXNgx4XkHmftdA5R9" class="text-primary">Googleフォーム</a>よりお問い合わせください。</p>

  <br>

  2022年06月13日 制定
</div>
