<header class="p-3 bg-primary">
  <div class="flex items-center justify-between gap-1">
    <%= link_to image_tag('header_logo.png'), repetitive_tasks_path, class: 'w-20' %>

    <% if current_user %>
      <% if current_page?(repetitive_tasks_path) %>
        <%= render(SearchFormComponent.new()) %>
      <% end %>

      <div class="flex items-center">
        <%= link_to image_tag('icon_activity_white'), activity_logs_path, class: 'mr-3' %>
        <%= render(HeaderMenuComponent.new()) %>
      </div>
    <% end %>
  </div>
</header>
