<header class="h-12 p-3 bg-primary">
  <div class="flex items-center justify-between max-w-md mx-auto">
    <%= link_to repetitive_tasks_path do %>
      <%= image_tag 'header_logo.png', class: 'w-20' %>
    <% end %>
    <% if current_user %>
      <%= link_to '共有設定', user_groups_path, class: 'text-white' %>
      <%= link_to 'ログアウト', log_out_path, class: 'text-white' %>
    <% end %>
  </div>
</header>
