<li class="flex">
  <span class="mr-8">
    <%= @user_name %> <%= label %>
  </span>

  <% if can_leave_group? %>
    <%= button_to image_tag('icon_leave_group'), user_path(current_user),
          method: :delete,
          form: { data: { turbo_confirm: 'グループから抜けますか？再び入るにはもう一度招待してもらう必要があります。' } }
    %>
  <% elsif can_remove_target_user? %>
    <%= button_to image_tag('icon_delete_user'), user_path(@user),
          method: :delete,
          form: { data: { turbo_confirm: "#{@user_name}さんとの共有を解除しますか？"} }
    %>
  <% end %>
</li>
