<div>
  <%= render(InvitationCodeComponent.new(current_user:, class_name: 'mb-6'))%>

  <ul class="space-y-2">
    <h3 class="mb-2 text-primary text-lg font-bold">メンバー</h3>
    <%= render(UserComponent.with_collection(@users, current_user:)) %>
  </ul>

  <% if current_user.owner? %>
    <%= render(WithdrawButtonComponent.new(label: 'グループ解散', current_user:, class_name: 'mt-96'))%>
  <% end %>
</div>
