<div>
  <h1 class="mb-8 font-bold text-xl">ようこそ、<%= @name %>さん！</h1>

  <%= render(UserCreateFormSectionComponent.new(name: @name, email: @email, by_invitation: true, class_name: 'mb-10')) %>

  <%= render(UserCreateFormSectionComponent.new(name: @name, email: @email)) %>
</div>
